<mat-toolbar color="primary" class="navbar">
  <div class="navbar-title">Health Management System</div>
  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="accountMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>email</mat-icon>
      <span>{{ userEmail }}</span>
    </button>
    <button mat-menu-item>
      <mat-icon>assignment_ind</mat-icon>
      <span>{{ userRole }}</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
