<mat-nav-list class="sidebar">
  <mat-list-item routerLink="/home/dashboard">
    <mat-icon>dashboard</mat-icon>
    <span> Dashboard</span>
  </mat-list-item>

  <mat-list-item routerLink="/home/clinic">
    <mat-icon>local_hospital</mat-icon>
    <span> Clinic</span>
  </mat-list-item>

  <mat-list-item routerLink="/home/clinic-admin">
    <mat-icon>admin_panel_settings</mat-icon>
    <span> Clinic Admin</span>
  </mat-list-item>

  <mat-list-item routerLink="/home/practitioner">
    <mat-icon>medical_services</mat-icon>
    <span> Practitioner</span>
  </mat-list-item>

  <mat-list-item routerLink="/home/patient">
    <mat-icon>person</mat-icon>
    <span> Patient</span>
  </mat-list-item>
</mat-nav-list>
