<h1 mat-dialog-title>Add New Patient</h1>

<div mat-dialog-content>
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Middle Name</mat-label>
      <input matInput formControlName="middleName">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Date of Birth</mat-label>
      <input matInput formControlName="dateOfBirth" [matDatepicker]="picker" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!patientForm.valid" (click)="onSubmit()">Submit</button>
</div>
